header {
  display: flex;
  align-items: center;
  z-index: 1;
  width: 100%;
  height: 80px;
  position: fixed;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 30px;
  flex-grow: 1;
  color: MediumAquamarine;
}

nav {
  padding-right: 40px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

.content {
  display: flex;
  padding-top: 86px;
  border: 2px solid aquamarine;
}

.column {
  display: flex;
  flex-direction: column;
  border: 2px solid purple;
}

.column.large {
  width: 630px;
  border: 2px solid green;
}

.column.medium {
  width: 300px;
  border: 2px solid orange;
}

.column.small {
  width: 240px;
  border: 2px solid red;
}
