header {
  font-family: Verdana;
  font-size: 14px;
  font weight: bold;
  z-index: 1;
  width: 100%;
  display: block;
  border-bottom: 1px solid black;
}

.logo {
  color: MediumAquamarine;
  display: flex;
  align-items: center;
  flex-grow: 1
}

header nav {
  display: inline-block;
  align-items: flex-end;
}
