header {
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  position: fixed;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.logo {
  color: MediumAquamarine;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

header nav {
  display: inline-block;
  align-items: flex-end;
}

main {
  display: flex;
  border: 1px solid black;
  padding-top: 80px;
}

.column.large {
  width: 630px;
  border: 22px solid black;
}

.column.medium {
  width: 300px;
  border: 2px solid black;
}

.column.small {
  width: 240px;
  border: 2px solid black;
}
